---
layout: default
title: Home
---
{% for post in site.posts limit:5 %}
  {% include top-post.html %}
{% endfor %}
<script type="text/javascript">
    var disqus_shortname = 'mathish';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
